<section class="accordion">
    <button class="join" id="join" (click)="toggleAccordion()" [attr.aria-expanded]="isOpen ? 'true' : 'false'">
        Join
    </button>

    <div *ngIf="isOpen" class="accordion-content">
        <form (submit)="handleSubmit($event)">
            <label for="fname">First Name:</label><br />
            <input
                    type="text"
                    id="fname"
                    name="fname"
                    [(ngModel)]="formData.fname"
                    (ngModelChange)="handleChange($event, 'fname')"
            /><br />

            <label for="lname">Last Name:</label><br />
            <input
                    type="text"
                    id="lname"
                    name="lname"
                    [(ngModel)]="formData.lname"
                    (ngModelChange)="handleChange($event, 'lname')"
            /><br />

            <label for="email">Email Address:</label><br />
            <input
                    type="email"
                    id="email"
                    name="email"
                    [(ngModel)]="formData.email"
                    (ngModelChange)="handleChange($event, 'email')"
            /><br />

            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
</section>
