<form (ngSubmit)="onSubmit()" [formGroup]="enrolForm">
    <div *ngIf="isOpen" class="accordion-content">
        <label for="firstName">First Name:</label>
        <input
                autocomplete="First name"
                formControlName="firstName"
                id="firstName"
                type="text"
        /><br/>

        <div *ngIf="firstName.invalid && (firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.hasError('required')">
                <span data-testid="firstName-required">First Name is required.</span>
            </div>
        </div>

        <label for="lastName">Last Name:</label>
        <input
                autocomplete="Last name"
                formControlName="lastName"
                id="lastName"
                type="text"
        /><br/>

        <div *ngIf="lastName.invalid && (lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.hasError('required')">
                <span data-testid="lastName-required">Last Name is required.</span>
            </div>
        </div>

        <label for="email">Email Address:</label>
        <input
                autocomplete="Email address"
                formControlName="email"
                id="email"
                type="email"
        /><br/>

        <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
            <div *ngIf="email.hasError('required')">
                <span data-testid="email-required">Email is required.</span>
            </div>
            <div *ngIf="email.hasError('pattern')">
                <span data-testid="email-validation">Please enter a valid email address.</span>
            </div>
        </div>

        <button data-testid="submit-button" id="submit-button" type="submit">Submit</button>
    </div>
</form>