    /* Style block contains CSS styles for different HTML elements */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Body styling sets default font, removes any margins and adds padding for spacing */
.svg-container {
    display: flex; /* makes the container a flexbox for central alignment */

    align-content: center;
    justify-content: center;
    /* Centres content within the container */

    width: 150px; /* Sets the width of the container */
    border: 2px; /* Adds a border around the container */
    padding: 10px; /* Adds padding inside the container */
    border-radius: 10px; /* Rounds the corners of the container */
    overflow: hidden; /* Ensures content doesn't spill out if it exceeds the container boundaries */
    margin-bottom: 20px; /* Adds space below the SVG container */
}

.svg-container svg,
.svg-container img {
    width: 100%;
    height: auto;
}

/* Makes the SVG responsive, and auto adjusts size based on the containers width */

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Creates a flex container for the buttons, stacks them vertically, and adds spacing between the buttons */

button {
    width: 173px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Button styling */

button:hover {
    background-color: #d50032;
    color: white;
}

/* Adds styling when someone hovers over the button */
