<app-hamburger-menu [menuOpen]="menuOpen" (toggleMenu)="toggleMenu()"></app-hamburger-menu>

<div class="content-container" [ngClass]="{'menu-open': menuOpen}">
    <section class="content1">
        <p>
            <span class="black-text">Next Badminton Session: </span>
            <app-date-and-time></app-date-and-time>
        </p>

        <p>
            <span class="black-text">Total Number of Players: </span>
            <span class="red-text"></span>
        </p>
    </section>
    <app-accordion (addRow)="handleRowAddition($event)"></app-accordion>
    <div class="content3">
        <app-table></app-table>
    </div>
</div>
