<app-hamburger-menu (toggleMenu)="toggleMenu()" [menuOpen]="menuOpen"></app-hamburger-menu>

<div [ngClass]="{'menu-open': menuOpen}" class="content-container">
    <section class="content1">
        <p>
            <span class="black-text">Next Badminton Session: </span>
            <app-date-and-time></app-date-and-time>
        </p>

        <p>
            <span class="black-text">Total Number of Players: </span>
            <span class="red-text"></span>
        </p>
    </section>
    <button class="content2">Join</button>
    <div class="content3">
        <app-table></app-table>
    </div>
</div>
