*{
    font-family: Ubuntu;
}

.session-accordion {
    background-color: #d50032;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}


.active, .session-accordion:hover {
    background-color: #d50032;
}

.submit-btn{
    background-color: #d50032;
    color: white;
    margin-top: 10px;
    width: 100%;
}


.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 100%;

}

