.hamburger-menu,
.icon {
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    vertical-align: middle;
    height: 75px;
    font-weight: normal;
}

button:hover {
    background-color: #d50032;
    color: white;
}


@media (orientation: portrait) {
    .sidebar {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        align-content: center;
        transition: transform 0.1s ease-in;
        transform: translateY(-100%);
        max-height: 100%;
        padding: 10px;
    }

    .sidebar.open {
        display: block;
        transform: translateY(0);
        max-height: 100vh;
        transition: transform 0.1s ease-in;
    }


    .content-container.menu-open {
        margin-top: 100px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .svg-container {
        margin-top: 10px;
        max-height: 75px;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    button.icon {
        position: absolute;
        display: block;
        width: auto;
        height: auto;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background-color: transparent;
        color: black;
        border-radius: 0;
        padding: 0;
        z-index: 1000;
        transition: 0.1s ease-in-out;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        background-color: white;
        transition: 0.1s ease-in;
    }

    #menu-button {
        display: block;
        width: 30px;
        height: 30px;
        align-items: center;
        background: none;
    }

    #enrol,
    #payment {
        height: 50px;
    }


}
