<table [ngStyle]="{width: '100%'}">
    <thead>
    <tr>
        <th [ngStyle]="{width: '80%'}">Name</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows; let i = index">
        <td>{{ row.name }}</td>
        <td>
            <button
                    (click)="handleRemoveRow(i)"
                    [attr.aria-label]="'Remove ' + row.name"
                    id="remove-button"
            >
                <img alt="Remove" class="bin-icon" src="bin-icon.svg"/>
            </button>
        </td>
    </tr>
    </tbody>
</table>
