<div [ngClass]="{'menu-open': menuOpen}" class="hamburger-menu">
    <!-- Hamburger icon -->
    <img alt="Logo" class="svg-container" src="logo-SVG.svg"/>

    <button (click)="toggleMenuState()" aria-label="Toggle Menu" class="icon" id="menu-button">
        <img [src]="menuOpen ? '/close-icon.svg' : '/hamburger-icon.svg'"
             alt="{{ menuOpen ? 'Close Menu' : 'Open Menu' }}"/>
    </button>

    <!-- Sidebar -->
    <div [ngClass]="{'open': menuOpen}" class="sidebar">
        <nav class="button-container">
            <button aria-label="Numbers" id="numbers">Numbers</button>
            <button aria-label="Payment" id="payment">Payment</button>
            <button aria-label="Admin" id="admin">Admin</button>
        </nav>
    </div>
</div>
