<div [ngClass]="{'menu-open': menuOpen}" class="hamburger-menu">
    <!-- Hamburger icon -->
    <img alt="Logo" class="svg-container" src="logo-SVG.svg"/>

    <button (click)="toggleMenuState()" aria-label="Toggle Menu" class="icon" id="menu-button">
        <img [src]="menuOpen ? '/close-icon.svg' : '/hamburger-icon.svg'"
             alt="{{ menuOpen ? 'Close Menu' : 'Open Menu' }}"/>
    </button>

    <!-- Sidebar -->
    <div [ngClass]="{'open': menuOpen}" class="sidebar">
        <nav class="button-container">
            <button routerLink="/enrol" routerLinkActive="active" aria-label="Enrol" id="enrol">Enrol</button>
            <button routerLink="/payment" routerLinkActive="active" aria-label="Payment" id="payment">Payment</button>
        </nav>
    </div>
</div>
