<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ Bell ShuttleBell</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="./AJB-Icon.svg" rel="icon" type="image/svg+xml"/>
</head>
<body>

<div class="page">

    <div class="sidebar">

        <img class="svg-container" alt="Logo" src="logo-SVG.svg">

        <nav class="button-container">
            <button aria-label="Numbers" id="numbers">Numbers</button>
            <button aria-label="Payment" id="payment">Payment</button>
            <button aria-label="Admin" id="admin">Admin</button>
        </nav>

    </div>


    <div class="content-container">
        <div class="content1"><h2>Date and Time</h2>
            <h2>Total Number of Players:</h2>
            <h2>Number</h2></div>
        <button class="content2">Join</button>
        <div class="content3">Content 3</div>
    </div>

</div>

</body>
</html>
