<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Layout with Sidebar</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="page">

    <div class="sidebar">
        Sidebar Content
    </div>


    <div class="content-container">
        <div class="content1">Content 1</div>
        <div class="content2">Content 2</div>
        <div class="content3">Content 3</div>
    </div>
</div>

</body>
</html>
