* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.black-text {
    color: black;
}

.red-text {
    color: #df0032;
}

.page {
    min-height: 100vh;
}

.svg-container {
    display: flex;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    vertical-align: middle;
    height: 75px;
    font-weight: normal;
}

@media (orientation: landscape) {
    .page {
        display: flex;
    }

    .sidebar {
        color: white;
        padding: 10px;
        min-width: 200px;
        width: 15vw;
        border-right: 2px solid lightgrey;
    }

    .content-container {
        width: 80vw;
    }

    .svg-container {
        max-height: 100px;
    }

    .button-container {
        flex-direction: column;
    }
}

@media (orientation: portrait) {
    .page {
        flex-direction: column;
        min-height: 100vh;
    }

    .sidebar {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        align-content: center;
        transition: transform 0.1s ease-in;
        transform: translateY(-100%);
        max-height: 100%;
        padding: 10px;
    }
}

